@tailwind base;
@tailwind components;
@tailwind utilities;


section.hero {
    @apply grid;
    grid-template-columns: .4fr .6fr;
}

input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"] {
    @apply block w-full mb-2 rounded-xl;
    @apply border p-2 border-blue-300 bg-gray-100;
}

input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled {
    @apply bg-gray-200 cursor-not-allowed text-gray-500;
}

button {
    @apply block w-full text-gray-700 font-semibold;
    @apply border-2 border-gray-500 rounded-xl px-6 py-2;
}

button[type="submit"], .submit {
    @apply border-0 bg-primary text-white;
}

button[type="submit"]:disabled, .submit:disabled {
    @apply cursor-not-allowed;
}

div.tabs > * {
    @apply bg-gray-300 text-black rounded-full py-2 px-4 border-2 border-blue-600;
}

div.tabs > *.active {
    @apply bg-primary text-white;
}

label {
    @apply text-gray-600 text-sm leading-tight;
}

label + input{
    margin-top: -2px;
}